<!doctype html>
<html>

<head>
    <title>{{ title }} | {{ sitename }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/page.css" />
    <link rel="stylesheet" href="/static/css/code.css" />

    {% if favicon_url %}
    <link rel="icon" type="image/ico" href="{{ favicon_url }}">
    {% endif %}
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">

    {% for s in stylesheets %}
    <link rel="stylesheet" href="{{ s }}" />
    {% endfor %}

    {% if extra_style %}
    <style type="text/css">
        {{ extra_style }}
    </style>
    {% endif %}

    {% for s in js_scripts %}
    <script type="text/javascript" src="{{ s }}"></script>
    {% endfor %}

    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Blog",
        {% if author %}
        "author": "{{ author }}",
        {% endif %}
        {% if base_url %}
        {% set url = base_url[:-1] if base_url.endswith('/') else base_url %}
        "identifier": "{{ url }}{{ breadcrumbs[-1].path }}",
        {% endif %}
        "headline": "{{ title }}",
        "keywords": "{{ ",".join(keywords) }}"
    }
    </script>

    {% if schema_org_dict %}
    <script type="application/ld+json">{{ schema_org_dict|tojson }}</script>
    {% endif %}

    {{ extra_head }}

</head>
<body>
    <header>
        <div id="header-content">
            <div>
                <h1>
                    <a href="/">
                        <i class="fas fa-{{ fa_icon|default("lemon") }} site-icon"></i>
                        {{ sitename|default("My Website") }}
                    </a>
                </h1>

                <nav>
                    <ul class="nav-links flat-list">
                        {% for p in sitemap %}
                        <li>
                            <a href="{{ p.path }}" title="{{ p.title }}">
                                {{ p.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            {% if breadcrumbs|length > 1 %}
                <div id="top-breadcrumbs">
                    {% include "breadcrumbs.html" %}
                </div>
            {% endif %}
        </div>
    </header>

    {{ extra_body|safe }}

    <div id="mdss-content">
        <h1>{{ title }}</h1>
        {{ content }}

        {% if siblings %}
            <div id="siblings">
                {% for p in siblings %}
                    {% if loop.nextitem is defined and loop.nextitem.path == path %}
                        <span class="prev">
                            <i class="fa fa-chevron-left fa-sm" aria-hidden="true"></i>
                            <a href="{{ p.path }}" title="{{ p.title }}">
                                {{ p.title }}
                            </a>
                        </span>
                    {% endif %}
                    {% if loop.previtem is defined and loop.previtem.path == path %}
                        <span class="next">
                            <a href="{{ p.path }}" title="{{ p.title }}">
                                {{ p.title }}
                            </a>
                            <i class="fa fa-chevron-right fa-sm" aria-hidden="true"></i>
                        </span>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% if children %}
            <div id="children">
                <h2>Sub-pages</h2>
                <ul>
                {% for c in children recursive %}
                    <li>
                        <a href="{{ c.path }}" title="{{ c.title }}">{{ c.title }}</a>
                        {% if c.children %}
                        <ul>
                            {{ loop(c.children) }}
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if breadcrumbs|length > 1 %}
            <div id="bottom-breadcrumbs">
                {% include "breadcrumbs.html" %}
            </div
        {% endif %}
    </div>

</body>
</html>
