#main-nav {
    margin-bottom: 0;
}
article {
    font-size: 18px;
}
.site-index {
    font-size: 20px;
}
.breadcrumb {
    border: 1px solid #e7e7e7;
}
.breadcrumb-footer {
    background-color: inherit;
    border: none;
    padding-left: 0;
}
p {
    margin-bottom: 1.05em;
}
img {
    display: block;
    margin: auto;
}
hr {
    margin: 10px 0;
}
table {
    margin-bottom: 2em;
}
th, td {
    padding: 0.5em;
    border-top: 1px solid #e9ecef;
}
