<!doctype html>
<html>
    <head>
        <title>{{ title }} | {{ sitename }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/code.css" />
        <link href="https://fonts.googleapis.com/css?family=Share" rel="stylesheet">

        {% for s in stylesheets %}
        <link rel="stylesheet" href="{{ s }}" />
        {% endfor %}

        {% for s in js_scripts %}
        <script type="text/javascript" src="{{ s }}">
            This page requires JavaScript
        </script>
        {% endfor %}

    </head>
    <body>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="/" class=navbar-brand">{{ sitename }}</a>

            <div class="navbar-collapse">
                <ul class="navbar-nav">
                {% for p in sitemap %}
                    {% if p.children %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{{ p.path }}"
                               id="navbarDropdown{{ loop.index }}" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">

                                {{ p.title }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown{{ loop.index }}">
                                {% for c in p.children %}
                                    <a class="dropdown-item" href="{{ c.path }}" title="{{ c.title }}">{{ c.title }}</a>
                                {% endfor %}
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ p.path }}" title="{{ p.title }}">{{ p.title }}</a>
                        </li>
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </nav>

<!--             <ul class="nav-links flat-list"> -->
<!--                 {% for p in sitemap %} -->
<!--                 <li> -->
<!--                     <a href="{{ p.path }}" title="{{ p.title }}">{{ p.title }}</a> -->
<!--                     {% if p.children %} -->
<!--                         <ul class="submenu"> -->
<!--                         {% for c in p.children %} -->
<!--                         <li><a href="{{ c.path }}" title="{{ c.title }}">{{ c.title }}</a></li> -->
<!--                         {% endfor %} -->
<!--                         </ul> -->
<!--                     {% endif %} -->
<!--                 </li> -->
<!--                 {% endfor %} -->
<!--             </ul> -->

<!--             {% if breadcrumbs|length > 1 %} -->
<!--                 {% include "breadcrumbs.html" %} -->
<!--             {% endif %} -->

        <div id="mdss-content">
            <h1>{{ title }}</h1>
            {{ content }}

            <hr />

            {% if children %}
                <ul>
                {% for c in children recursive %}
                    <li>
                        <a href="{{ c.path }}" title="{{ c.title }}">{{ c.title }}</a>
                        {% if c.children %}
                        <ul>
                            {{ loop(c.children) }}
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>

                <hr />
            {% endif %}

            {% if breadcrumbs|length > 1 %}
                {% include "breadcrumbs.html" %}
            {% endif %}
        </div>

    </div>
    </body>
</html>
